#trifoliar1{
    border: 1px solid black;
    width: 1800px;
    height: 800px;
    display: flex;
    margin: auto;
}
.section1{
    border: 1px solid black;
    height: 800px;
    width: 600px;
}
.section2{
    border: 1px solid black;
    height: 800px;
    width: 600px;
}
.section3{
    border: 1px solid black;
    height: 800px;
    width: 600px;
}
#trifoliar2{
    border: 1px solid black;
    width: 1800px;
    height: 800px;
    display: flex;
    margin: auto;
}
.section4{
    border: 1px solid black;
    height: 800px;
    width: 600px;
}
.section5{
    border: 1px solid black;
    height: 800px;
    width: 600px;
}
.section6{
    border: 1px solid black;
    height: 800px;
    width: 600px;
}
.link{ 
    position: absolute;     
    bottom: 10px;           
    left: 60px;              
    text-align: center;
    padding: 20px 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background: gray;
    color: black;
}